services:
  astro-site:
    image: astro-site
    build: .
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "4000:4000"
    command: npm run dev -- --host 0.0.0.0 --port 4000
