---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found | pmai">
  <div id="main" role="main">
    <div class="page__wrap">
      <article class="page">
        <div class="page__inner-wrap">
          <h1 class="page__title">404 - Page not found</h1>
          <section class="page__content">
            <p>The page you are looking for doesn't exist. Try one of the links below:</p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/certifications/">Certifications</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </section>
        </div>
      </article>
    </div>
  </div>
</BaseLayout>
